@{
    ViewData["Title"] = "About";
    ViewData["Email"] = "virgilio@gmail.com";
    ViewData["Dev"] = "Virgilio Breda";
}
<h2>@ViewData["Title"]</h2>
<h3>@ViewData["Message"]</h3>
<p>@ViewData["Dev"]</p>
<p>@ViewData["Email"]</p>

<p>Use this area to provide additional information.</p>
